; rtfd的数据根目录，必需，一旦初始化完成不建议更改，否则无法读取已有数据！
base_dir = /rtfd

; sphinx文档的配置文件中图标文件地址（若已配置不会覆盖），默认图标来源于saintic
favicon_url = https://static.saintic.com/rtfd/favicon.png

; 不允许的文档项目名称，非必需，以英文逗号分隔（不要加多余空格），系统默认追加了www
unallowed_name =

; redis服务连接串，格式是 redis://[user:secret@]hostname[:port/db]
; 例如：连接本机6379端口0库 redis://localhost
redis =

[nginx]

; 生成文档的HTML托管域名后缀，必需，一旦初始化完成不建议更改。
; 如果更改托管域名，后续生成的Nginx配置会采用新域名，将会出现新旧域名共存现象。
; 补充说明：生成的文档域名格式为："文档项目名称.dn"，默认http，可以开启https！
; 示例 dn = your-domain-name.com
dn =

; Nginx命令路径，必需，仅能为绝对路径或在PATH内
exec = nginx

; 如果您是普通用户，需要开启 sudo = on，否则可能出现权限不足，默认on
sudo = on

; ssl_crt 和 ssl_key 两项开启默认域名HTTPS支持。
; 当两个文件均存在时，表示ssl=on；两个文件不存在或参数为空则表示ssl=off；
; 如果为on，后续生成的Nginx配置会使用ssl配置项，即后面的以"ssl_"开头的配置项。
; 如果为off，后续生成的Nginx配置仅支持HTTP访问，不支持HTTPS访问。
; 补充说明：开启SSL要求Nginx版本大于1.15.0，配置项支持HTTP2和TLS1.3！

; SSL证书公钥，非必需
ssl_crt =

; SSL证书私钥，非必需
ssl_key =

# Python版本配置，要求都包含pip、virtualenv模块
[py]

; python2命令路径，必需
py2 = python2

; python3命令路径，必需
py3 = python3

; python默认源，非必需，默认使用操作系统配置的pip源
; index =

# 开发阶段的API配置
[api]

; 监听主机，非必需，默认127.0.0.1
host = 127.0.0.1

; 监听端口，非必需，默认5000
port = 5000

; rtfd服务地址，必需，这是api运行时的地址，生产环境建议用正式域名，开发环境可以设置为api配置段的ip:port
server_url = http://%(host)s:%(port)s

; rtfd静态资源地址，非必需，默认在server_url下的assets目录，即"rtfd.js"所在；
; 如果值有效，则文档构建时会改为引入此URL，切记末尾要有"/"，否则导致引用地址错误。
server_static_url = 
