[Unit]
Description=rtfd: Build, read your exclusive and fuck docs.
Documentation=https://docs.saintic.com/rtfd/
After=network.target

[Service]
# If you start as a normal user, please fill in User
# User=
Type=simple
ExecStart=rtfd api

[Install]
WantedBy=multi-user.target